/* You can add global styles to this file, and also import other style files */

#toaster-container,
#toast-container {
    margin: 0 auto !important;
    position: relative !important;
    width: 100% !important;
    left: 1% !important;
}

#toaster-container .toast,
#toast-container .toast {
    width: 98%;
    left: 1px !important;
    margin-bottom: 5px !important;
}

.title {
    position: absolute !important;
    left: 170px !important;
    top: 15px !important;
}

.header-big {
    min-height: 82px;
}

.cloud-icon {
    font-size: 6em;
    position: absolute;
    top: 0px;
    left: 45px;
}

.home-icon {
    font-size: 3em;
    color: white;
    left: 68px;
    position: absolute;
    top: 20px;
    z-index: 9999;
}

.logo-bracket {
    font-size: 5.9em;
    position: absolute;
    top: 25px;
    left: 125px;
}

.content-area {
    width: 80%;
    margin: 0 auto;
    border-color: solid 1px black;
}

html,
body,
.card-block {
    height: 100% !important;
}